<template>
  <v-form v-model="valid">
    <v-container>
      <v-layout>
        <v-flex
          xs12
          md4
        >
          <v-text-field
            v-model="firstname"
            :rules="nameRules"
            :counter="10"
            label="First num"
            required
          ></v-text-field>
        </v-flex>

        <v-flex
          xs12
          md4
        >
          <v-text-field
            v-model="lastname"
            :rules="nameRules"
            :counter="10"
            label="Last num"
            required
          ></v-text-field>
        </v-flex>

        <v-flex
          xs12
          md4
        >
        </v-flex>
      </v-layout>
    </v-container>
  </v-form>
</template>

<script>
  export default {
  name: 'Input',
    data () {
      return {
        text: ''
      }
    },
    methods: {
      appendIconCallback () {},
      prependIconCallback () {}
    }
  }
</script>

<style>
  #input-usage .v-input__prepend-outer,
  #input-usage .v-input__append-outer,
  #input-usage .v-input__slot,
  #input-usage .v-messages {
    border: 1px dashed rgba(0,0,0, .4);
  }
</style>