<template>
  <v-app>
    <v-content>
        <template>
          <v-toolbar>
            <v-toolbar-side-icon></v-toolbar-side-icon>
            <v-toolbar-title>Title</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-toolbar-items>
              <v-btn flat href="/" router>Home</v-btn>
              <v-btn flat href="/input" router>Input</v-btn>
              <v-btn flat href="/output" router>Output</v-btn>
              <v-btn flat href="/students" router>Students</v-btn>
            </v-toolbar-items>
          </v-toolbar>
        </template>
        <Input />
    </v-content>
  </v-app>
</template>

<script>
import Input from './components/Input.vue'
export default {
  name: 'App',
  components: {
    Input
  },
  data () {
    return {
      //
    }
  }
}
</script>
